<!DOCTYPE html>
<html
        layout:decorate="~{commons/layout}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Individual page title</title>
    <meta content="Individual meta tags" name="description">
</head>
<body>
<div layout:fragment="header">Titles are set individually.</div>
<div layout:fragment="contents">
    Waktu Saat ini<span th:text="${waktu}">Waktu Saat ini</span>
    <P>Below is the individual page</P>
    <div id="hello-text"></div>
    <!-- Verify that jquery-ui moves correctly on individual pages -->
    <input class="datepicker" type="text"/>
    <script>
        $(function () {
            $('#hello-text').text('Hello SpringBoot from JQuery!!');
            $('.datepicker').datepicker();
        });
    </script>
</div>
</body>
</html>